<h2>カテゴリー一覧</h2>
<%= link_to "＋ カテゴリー追加", new_category_path %><br />
<ul>
<% @categories.each do |category| %>
  <li><%= category.color %> <%= category.name %></li>
<% end %>
</ul>

<%= link_to "＜ KIlOQへ戻る", new_record_path %>